<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>ТРИГОН</title>
	<meta name="description" content="Llama on the Boat - our small company of developers!">
	<meta name="keywords" content="llama on the boat">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="stylesheet" href="style.css">
	
	<!--[if lte IE 7]>
		<link rel="stylesheet" href="css/ie7.css">
	<![endif]-->

	<!--[if lt IE 9]>
		<script src="js/libs/html5shiv.min.js"></script>
	<![endif]-->
	
	<style>
	
	@font-face {
    font-family: MyriadProCond;
    src: url(fonts/MyriadPro-Cond.otf);
    font-style: normal;
    font-weight: normal;
    }
    @font-face {
    font-family: Arial;
    src: url(fonts/ArialRegular.ttf);
    font-style: normal;
    font-weight: normal;
}

</style>
</head>
	<body>
		<div class="l-body">
			<header class="l-header">
				<div class="l-header_inner">
					<a href="#"><img src="img/logo.jpg" id="logo"/></a>
					<div id="header-sidebar">
						<p class="myriad-b">Не знаешь с чего начать?</p>
						<button class="btn" id="button-header-sidebar">Жми!</button>
						<br>
						<p class="myriad" id="call-header-sidebar">Звонок по России бесплатный!
						<p class="myriad" id="phone-header-sidebar">+7 (495) 660-36-75<br>  
						+ 8 (800) 333-38-21
						</p>
						</p>
					</div>
					<div class="arial" id="in-message">
					<a href="#">УВАЖАЕМЫЙ ГОСТЬ,  ПРИВЕТСТВУЕМ ВАС<br> НА НАШЕМ САЙТЕ!</a><br><br> 
Представьте себе на миг, что существуем  «обетованное место», где ЛЮДИ, <br>В КОТОРЫХ ВЫ СЕЙЧАС  НУЖДАЕТЕСЬ
					</div>
					<img src="img/header-menu-orange.jpg" id="header-menu-orange"/>
					<ul class="header-menu">
						<li class="myriad"><a href="#">ГЛАВНАЯ</a></li>
						<li class="myriad"><a href="#">КОНТАКТЫ</a></li>
						<li class="myriad"><a href="#">О КОМАНДЕ</a></li>
						<li class="myriad"><a href="#">ПОРТФОЛИО</a></li>
						<li class="myriad"><a href="#">УСЛУГИ</a></li>
						<li id="project-right" class="myriad"><a href="#"><img style="height:15px" src="img/project-icon.jpg"/> ПРОЕКТ МЕЖРЕГИОНАЛЬНОГО ЦЕНТРА РАЗВИТИЯ БИЗНЕСА</a></li>
					</ul>
					<img src="img/header-dark-blue-text.jpeg" id="header-text"/>
				</div>
			</header>
			<div class="g-clrfix">
				<section class="l-main">
					<div class="l-main_inner">
						<img src="img/content-navbar.png"/ id="content-navbar">
							<ul class="content-menu">
								<li class="myriad"><a href="#"><center>НАЧАТЬ ИЗВЛЕКАТЬ<br>КЛИЕНТОВ ИЗ ИНТЕРНЕТА</center></a></li>
								<li class="myriad"><a href="#"><center>УВЕЛИЧИТЬ ПРОДАЮЩУЮ<br>СПОСОБНОСТЬ САЙТА</center></a></li>
								<li class="myriad"><a href="#"><center>ПОЛУЧИТЬ РЕЗУЛЬТАТЫ<br>ОТ РЕКЛАМЫ И ПИАРА В ИНТЕРНЕТ</center></a></li>
								<li class="myriad"><a href="#"><center>НАУЧИТЬСЯ ВЕСТИ<br>БИЗНЕС В ОН-ЛАЙН</center></a></li>
								<li class="myriad"><a href="#"><center>ИНТЕРНЕТ-АДВОКАТ<br><br></center></a></li>
							</ul>
						<img src="img/background.jpg" id="background"/>
						<div class="content-on">
							<div class="block block1">
								<center>
									<p class="myriad block-text1">У ВАС ПОКА НЕТ САЙТА?<br>
									<big>ЭТО ХОРОШО!<br>ПОЧЕМУ?</big>
									</p>
								</center>
								<center>
									<button class="btn block-btn1">Узнать больше</button>
								</center>
							</div>
							<div class="block block2">
								<center>
									<p class="myriad block-text2">ЗАПРОСИТЬ СТОИМОСТЬ</p>
									<form>
										<input type="text" placeholder="Ваше имя" class="form">
										<input type="text" placeholder="Телефон" class="form">
										<input type="email" placeholder="e-mail" class="form">
										<textarea rows="3" class="text-form"></textarea>
									</form>
								</center>
								<center>
									<button class="btn block-btn1">Запросить</button>
								</center>
							</div>
							<div class="block block3">
								<center>
									<p class="myriad block-text3">ТВОЙ САЙТ - ГЕНЕРАТОР<br>КЛИЕНТОВ ИЛИ УБИЙЦА<br>ПРОДАЖ? ПРОТЕСТИРУЙ!</p>
								</center>
								<center>
									<button class="btn block-btn1">Протестировать</button>
								</center>
							</div>
							<br>
							<div class="grid">
								<center>
									<a href="#" class="myriad b-link">УЗНАЙ, КАК МЫ ПОМОЖЕМ ТВОЕМУ БИЗНЕСУ!</a>
									<div class="block-video">
									</div>
								</center>
							</div>
							<div class="grid grid-right">
								<center>
									<a href="#" class="myriad o-link">ГОРЯЧИЕ АКЦИИ МЕСЯЦА</a>
									<div class="promo">
										<a href="#">Название акции</a>
										<p align="left">Мастера фэн-шуй давно обратили свое внимание на то, как влияет цвет, ткань, узор постельного белья на человеческую жизнь.</p>
									</div>
									<div class="block-slider">
									</div>
								</center>
							</div>
						</div>
					</div>
				</section>
				
			</div>
			<div class="l-empty">
			</div>
		</div>
		<footer class="l-footer">
			<div class="l-footer_inner">
				<p>Footer Text</p>
			</div>
		</footer>
	</body>
</html>
