
/* Layout definitions: Main Layout (begin) */
html, body {
	width: 100%;
	height: 100%;
	margin: 15px 0 0 0;
		
}

/* Header */
.l-header {
	height: 100px;
}

.l-header_inner {
	width: 1025px;
	margin: 0 auto;
}

/* Main Wrapper */
.l-body {
	width: 1025px;
	min-height: 100%;
	margin: 0 auto -100px;
}

.l-empty {
	height: 99px;
}

/* Main Content */

.l-main {
	width: 100%;
	float: left;

}

.l-main_inner {
	margin-right: 300px;
	
}

.content-on {
	width: 800px;
	background-color: #FFF;
	height: 1000px;
	margin: -915px 112px 0 112px;
	position: absolute
}

#in-message {
	font-size: 8px;
	width: 200px;
	position: absolute;
	margin: 65px 0 0 380px;
}

.btn {
	width: 150px;
	display: inline-block;
	*display: inline;
	padding: 4px 12px;
	margin-bottom: 0;
	*margin-left: .3em;
	font-size: 13px;
	line-height: 20px;
	color: #FFF;
	text-align: center;
	text-shadow:1px 1px 1px black;
	vertical-align: middle;
	cursor: pointer;
	background-color: #f5f5f5;
	*background-color: #efefef;
	background-image: -moz-linear-gradient(top, #f47b08, #ea4502);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f47b08), to(#ea4502));
	background-image: -webkit-linear-gradient(top, #f47b08, #ea4502);
	background-image: -o-linear-gradient(top, #f47b08, #ea4502);
	background-image: linear-gradient(to bottom, #f47b08, #ea4502);
	background-repeat: repeat-x;
	border: 1px solid #f5f5f5;
	*border: 0;
	border-color: #f47b08;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-bottom-color: #f47b08;
	border-top-color: #f47b08;
	-webkit-border-radius: 6px;
	   -moz-border-radius: 6px;
	        border-radius: 6px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	*zoom: 1;
	-webkit-box-shadow: inset 0 0.5px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	   -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.myriad-b {
	font-family: MyriadProCond;
	src: url(fonts/MyriadPro-Cond.otf); /* Путь к файлу со шрифтом */
	font-weight: bold;
}

.myriad {
	font-family: MyriadProCond;
	src: url(fonts/MyriadPro-Cond.otf); /* Путь к файлу со шрифтом */
}

.arial {
	font-family: Arial;
}

.arial a {
	color: #000000;
}

.block {
	width:245px;
	height: 160px;
	border-radius: 15px;
	padding:0 5px 0 5px;
}

.block1 {
	background-color: #f47920;
	margin: 8px 0 0 10px;
}

.block2 {
	background-color: #011e3c;
	margin: -160px 0 0 270px;
}

.block3 {
	background-color: #011e3c;
	margin: -160px 0 0 530px;
}

.block-text1 {
	font-size: 25px;
	padding: 15px 0 20px 0;
	color: #011e3c;
}

.block-text2 {
	font-size: 20px;
	padding: 15px 0 10px 0;
	color: #fff;
	font-weight: bold;
}

.block-text3 {
	font-size: 25px;
	padding: 15px 0 27px 0;
	color: #fff;
	font-weight: bold;
}

.form {
	width: 77px;
	height: 15px;
	border-radius: 3px;
	margin-bottom: 7px;
	border-style: none;
}

.text-form {
	width: 242px;
	height: 40px;
	margin: 0 0 2px 0;
	border-radius: 3px;
	border-style: none;
	
} 

.grid {
	width: 400px;
}

.grid-right{
	margin: -230px 0 0 400px;
}

.b-link {
	text-decoration: underline;
	color: #011e3c;
	font-size: 20px;
}

.o-link {
	text-decoration: underline;
	color: #f47920;
	font-size: 20px;
}

.block-video{
	background-color: #011e3c;
	margin:10px 0 0 15px;
	border-radius: 15px; 
	width: 360px;
	height: 200px;
}

.block-slider {
	background-color: #011e3c;
	background-image: url(img/money2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	margin:10px 15px 0 0;
	border-radius: 15px; 
	width: 360px;
	height: 200px;
}

.promo {
	margin: 0 0 0 0;
	width: 380px;
}

.promo a {
	color: #fff;
	font-family: sans-serif;
	font-size: 12px;
	float: left;
	margin: 100px 0 0 30px;
}

.promo p {
	color: #fff;
	font-family: sans-serif;
	font-size: 9px;
	float: left;
	margin: 10px 0 0 30px;
}




/* Footer */
.l-footer {
	height: 100px;
}

.l-footer_inner {
	width: 1025px;
	height: 100px;
	margin: 0 auto;
}

/* IMG */


#header-text{
	width:1025px;
	margin: 0 0 0 0;
}

#logo {
	height: 120px;
	padding: 0;
	margin: -25px 0 0 -30px;
	position: absolute;
}

#background {
	width: 1025px;
	margin-top: 0px;
}

#content-navbar {
	width: 1025px;
	height: 70px;
	margin-top: 250px; 
}

#header-sidebar {
	width: 156px;
	height: 120px;
	margin: -20px 0 0 850px;
	padding: 0;
	position: absolute;
}

#button-header-sidebar {	
	margin: 0 0 0 2px;
	width: 150px;
}

#call-header-sidebar {
	padding: 7px 7px 0 7px;
	color: #f47920;
	font-size: 14px;
}

#phone-header-sidebar {
	font-size: 21px;
	padding: 0 7px 2px 7px;
}


/* Menu */

.header-menu {
	list-style: none;
	margin: -25px 0 0 10px;
	width: 1025px;
}

.header-menu li {
	display: inline;
	padding:0 7px 0 0;
	
}

.header-menu li a {
	text-decoration:none;
	color: #000000;
}

.header-menu li a:hover {
	color: #ffffff;
	text-shadow: 1px 1px 0px black;
}


#project-right {
	margin: 0 0 0 350px;
	padding: 0;
	float: right;
	position: absolute;
}

#header-menu-orange {
	width: 1025px;
	margin: 0 0 6px 0;
}

.content-menu {
	list-style: none;
	margin: -48px 0 0 0;
	width: 1025px;
	height: 65px;
	position: absolute;
}

.content-menu li {
	display: inline-block;
	padding:0 17px 0 17px;
	font-size: 21px;
	border-right: 1px dashed #005ea0; 
}

.content-menu li a {
	color: #36b6e9;
	text-shadow: 1px 1px 14px #2b12a7;
}

.content-menu li a:hover {
	color: #1455c7;
	text-shadow:1px 1px 24px #000;
}


